@import '../../../scss/variables';

.block {
  position: relative;
}

.wrap {
  position: relative;
  background-color: $white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;
  border-bottom: 1px solid $gray;
  // padding: 0 10px;

  display: flex;
  flex-direction: column;
}

.background {
  position: absolute;
  display: block;
  width: 98%;
  margin: 0 auto;
  height: 100%;
  left: 0;
  right: 0;
  top: 6px;
  background-color: $white;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 10px;
  border-bottom: 1px solid $gray;
}

.background2 {
  position: absolute;
  display: block;
  width: 96%;
  margin: 0 auto;
  height: 100%;
  left: 0;
  right: 0;
  top: 12px;
  background-color: $white;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 10px;
  border-bottom: 1px solid $gray;
}

.list {
  display: flex;
  flex-direction: column;
  // gap: 10px;
  flex-grow: 1;

  height: 51vh;
  overflow: auto;

  scrollbar-width: thin;
  scrollbar-color: $brown transparent;

  /* для Chrome/Edge/Safari */
  &::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
    // border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $brown;
  }

  @media screen and (min-width: $mobile) {
    height: 52vh;
  }
}

.bottom-wrap {
  box-shadow: rgba(0, 0, 0, 0.2) 0 -2px 10px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
