@import '../../../scss/variables';

.item {
  border-bottom: 1px solid $gray;
  display: flex;
  align-items: center;
  padding: 12px 10px 12px 0;
}

.text {
  font-size: 18px;
  line-height: 1.2;
  word-wrap: break-word;
  width: calc(100% - 50px);

  &.completed {
    color: $gray;
    text-decoration: line-through;
  }
}

.icon {
  align-self: flex-start;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid $gray;
  flex-shrink: 0;
  margin: 0 10px;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }

  &.completed {
    background-image: url('../../../assets/img/todo-item-img.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
